<html
  xmlns='http://www.w3.org/1999/xhtml'
  xmlns:v='urn:schemas-microsoft-com:vml'
  xmlns:o='urn:schemas-microsoft-com:office:office'
>
  <head>
    <!--[if gte mso 9]>
<xml>
  <o:OfficeDocumentSettings>
    <o:AllowPNG/>
    <o:PixelsPerInch>96</o:PixelsPerInch>
  </o:OfficeDocumentSettings>
</xml>
<![endif]-->
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta name='x-apple-disable-message-reformatting' />
    <!--[if !mso]><!--><meta
      http-equiv='X-UA-Compatible'
      content='IE=edge'
    /><!--<![endif]-->
    <title></title>

    <style type='text/css'>
      table, td { color: #000000; } a { color: #0000ee; text-decoration:
      underline; } @media only screen and (min-width: 620px) { .u-row { width:
      600px !important; } .u-row .u-col { vertical-align: top; } .u-row
      .u-col-100 { width: 600px !important; } } @media (max-width: 620px) {
      .u-row-container { max-width: 100% !important; padding-left: 0px
      !important; padding-right: 0px !important; } .u-row .u-col { min-width:
      320px !important; max-width: 100% !important; display: block !important; }
      .u-row { width: calc(100% - 40px) !important; } .u-col { width: 100%
      !important; } .u-col > div { margin: 0 auto; } } body { margin: 0;
      padding: 0; } table, tr, td { vertical-align: top; border-collapse:
      collapse; } p { margin: 0; } .ie-container table, .mso-container table {
      table-layout: fixed; } * { line-height: inherit; }
      a[x-apple-data-detectors='true'] { color: inherit !important;
      text-decoration: none !important; }

    </style>

    <!--[if !mso]><!--><link
      href='https://fonts.googleapis.com/css?family=Cabin:400,700'
      rel='stylesheet'
      type='text/css'
    /><!--<![endif]-->

  </head>

  <body
    class='clean-body u_body'
    style='margin: 0;padding: 0;-webkit-text-size-adjust: 100%;background-color: #ffffff;color: #000000'
  >
    <!--[if IE]><div class="ie-container"><![endif]-->
    <!--[if mso]><div class="mso-container"><![endif]-->
    <table
      style='border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;min-width: 320px;Margin: 0 auto;background-color: #ffffff;width:100%'
      cellpadding='0'
      cellspacing='0'
    >
      <tbody>
        <tr style='vertical-align: top'>
          <td
            style='word-break: break-word;border-collapse: collapse !important;vertical-align: top'
          >
            <!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td align="center" style="background-color: #ffffff;"><![endif]-->

            <div
              class='u-row-container'
              style='padding: 0px;background-color: transparent'
            >
              <div
                class='u-row'
                style='Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;'
              >
                <div
                  style='border-collapse: collapse;display: table;width: 100%;background-color: transparent;'
                >
                  <!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding: 0px;background-color: transparent;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr style="background-color: transparent;"><![endif]-->

                  <!--[if (mso)|(IE)]><td align="center" width="600" style="width: 600px;padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;" valign="top"><![endif]-->
                  <div
                    class='u-col u-col-100'
                    style='max-width: 320px;min-width: 600px;display: table-cell;vertical-align: top;'
                  >
                    <div
                      style='width: 100% !important;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;'
                    >
                      <!--[if (!mso)&(!IE)]><!--><div
                        style='padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;'
                      ><!--<![endif]-->

                        <table
                          style="font-family:'Cabin',sans-serif;"
                          role='presentation'
                          cellpadding='0'
                          cellspacing='0'
                          width='100%'
                          border='0'
                        >
                          <tbody>
                            <tr>
                              <td
                                style="overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:'Cabin',sans-serif;"
                                align='left'
                              >

                                <h1
                                  style='margin: 0px; line-height: 140%; text-align: center; word-wrap: break-word; font-weight: normal; font-family: Rancho; font-size: 25px;'
                                >
                                  CareerHub
                                </h1>

                              </td>
                            </tr>
                          </tbody>
                        </table>

                        <table
                          style="font-family:'Cabin',sans-serif;"
                          role='presentation'
                          cellpadding='0'
                          cellspacing='0'
                          width='100%'
                          border='0'
                        >
                          <tbody>
                            <tr>
                              <td
                                style="overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:'Cabin',sans-serif;"
                                align='left'
                              >

                                <table
                                  height='0px'
                                  align='center'
                                  border='0'
                                  cellpadding='0'
                                  cellspacing='0'
                                  width='100%'
                                  style='border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;border-top: 1px solid #BBBBBB;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%'
                                >
                                  <tbody>
                                    <tr style='vertical-align: top'>
                                      <td
                                        style='word-break: break-word;border-collapse: collapse !important;vertical-align: top;font-size: 0px;line-height: 0px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%'
                                      >
                                        <span>&#160;</span>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>

                              </td>
                            </tr>
                          </tbody>
                        </table>

                        <!--[if (!mso)&(!IE)]><!--></div><!--<![endif]-->
                    </div>
                  </div>
                  <!--[if (mso)|(IE)]></td><![endif]-->
                  <!--[if (mso)|(IE)]></tr></table></td></tr></table><![endif]-->
                </div>
              </div>
            </div>

            <div
              class='u-row-container'
              style='padding: 0px;background-color: transparent'
            >
              <div
                class='u-row'
                style='Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;'
              >
                <div
                  style='border-collapse: collapse;display: table;width: 100%;background-color: transparent;'
                >
                  <!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding: 0px;background-color: transparent;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr style="background-color: transparent;"><![endif]-->

                  <!--[if (mso)|(IE)]><td align="center" width="600" style="width: 600px;padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;" valign="top"><![endif]-->
                  <div
                    class='u-col u-col-100'
                    style='max-width: 320px;min-width: 600px;display: table-cell;vertical-align: top;'
                  >
                    <div
                      style='width: 100% !important;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;'
                    >
                      <!--[if (!mso)&(!IE)]><!--><div
                        style='padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;'
                      ><!--<![endif]-->

                        <table
                          style="font-family:'Cabin',sans-serif;"
                          role='presentation'
                          cellpadding='0'
                          cellspacing='0'
                          width='100%'
                          border='0'
                        >
                          <tbody>
                            <tr>
                              <td
                                style="overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:'Cabin',sans-serif;"
                                align='left'
                              >

                                <div
                                  style='line-height: 140%; text-align: left; word-wrap: break-word;'
                                >
                                  <p
                                    style='font-size: 14px; line-height: 140%;'
                                  >Hi,</p>
                                  <p
                                    style='font-size: 14px; line-height: 140%;'
                                  >&nbsp;</p>
                                  <p
                                    style='font-size: 14px; line-height: 140%;'
                                  >Welcome to CareerHub!</p>
                                  <p
                                    style='font-size: 14px; line-height: 140%;'
                                  >Blah blah</p>
                                  <p
                                    style='font-size: 14px; line-height: 140%;'
                                  >Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit. Nullam tempus, massa quis
                                    vulputate convallis, sem tortor consequat
                                    quam, quis elementum arcu libero in odio. In
                                    ullamcorper et orci in ornare. Proin quis
                                    tempus velit, sed tincidunt lorem. Donec
                                    luctus congue sem. Quisque nec velit magna.
                                    Vestibulum molestie sem vitae sapien
                                    condimentum, non viverra purus tempor.
                                    Integer ipsum eros, iaculis sit amet nisl a,
                                    blandit pulvinar dui. Sed et turpis
                                    tincidunt, varius magna suscipit, interdum
                                    neque. Etiam egestas, odio nec varius
                                    vulputate, felis massa ultricies diam, id
                                    dignissim arcu ipsum a leo.</p>
                                  <p
                                    style='font-size: 14px; line-height: 140%;'
                                  >Nulla facilisi. Donec eu dictum arcu. Sed eu
                                    massa eget velit lacinia eleifend. Praesent
                                    a est efficitur, placerat ante eu, placerat
                                    elit. Sed eget tellus eget neque semper
                                    elementum. Cras at commodo nibh. Quisque
                                    faucibus sit amet quam eu maximus. Etiam
                                    porta, sem sit amet mattis tincidunt, ex leo
                                    sollicitudin mi, sit amet efficitur nisi
                                    massa quis ex.
                                  </p>
                                </div>

                              </td>
                            </tr>
                          </tbody>
                        </table>

                        <table
                          style="font-family:'Cabin',sans-serif;"
                          role='presentation'
                          cellpadding='0'
                          cellspacing='0'
                          width='100%'
                          border='0'
                        >
                          <tbody>
                            <tr>
                              <td
                                style="overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:'Cabin',sans-serif;"
                                align='left'
                              >

                                <div align='center'>
                                  <!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing: 0; border-collapse: collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;font-family:'Cabin',sans-serif;"><tr><td style="font-family:'Cabin',sans-serif;" align="center"><v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="abc" style="height:37px; v-text-anchor:middle; width:108px;" arcsize="11%" stroke="f" fillcolor="#3aaee0"><w:anchorlock/><center style="color:#FFFFFF;font-family:'Cabin',sans-serif;"><![endif]-->
                                  <a
                                    href='{{link}}'
                                    target='_blank'
                                    style="box-sizing: border-box;display: inline-block;font-family:'Cabin',sans-serif;text-decoration: none;-webkit-text-size-adjust: none;text-align: center;color: #FFFFFF; background-color: #3aaee0; border-radius: 4px;-webkit-border-radius: 4px; -moz-border-radius: 4px; width:auto; max-width:100%; overflow-wrap: break-word; word-break: break-word; word-wrap:break-word; mso-border-alt: none;"
                                  >
                                    <span
                                      style='display:block;padding:10px 20px;line-height:120%;'
                                    ><span
                                        style='font-size: 14px; line-height: 16.8px;'
                                      >Ваше посилання підтвердження</span></span>
                                  </a>
                                  <!--[if mso]></center></v:roundrect></td></tr></table><![endif]-->
                                </div>

                              </td>
                            </tr>
                          </tbody>
                        </table>

                        <!--[if (!mso)&(!IE)]><!--></div><!--<![endif]-->
                    </div>
                  </div>
                  <!--[if (mso)|(IE)]></td><![endif]-->
                  <!--[if (mso)|(IE)]></tr></table></td></tr></table><![endif]-->
                </div>
              </div>
            </div>

            <!--[if (mso)|(IE)]></td></tr></table><![endif]-->
          </td>
        </tr>
      </tbody>
    </table>
    <!--[if mso]></div><![endif]-->
    <!--[if IE]></div><![endif]-->
  </body>

</html>